/*Main overarching css*/

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(232, 252, 255);

  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#LandingBody {
  transition: top 1000ms ease-in-out;
}
.LandingClosed {
  top: 0px;
}
.LandingOpen {
  top: -900px;
}
.hide {
  visibility: hidden;
}

.test {
  color: rgb(0, 76, 241);
}