/*Main overarching css*/

body {
  margin: 0;
  padding: 0;
  font-family: 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', "Courier New", "Lucida Console", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(232, 252, 255);

  text-align: center;
}